[Unit]
Description=Klima - sterowanie klimatyzacja przez GUI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=maciek
WorkingDirectory=/home/maciek/Desktop/MyScripts/klima_gui
ExecStart=/home/maciek/Desktop/MyScripts/klima_gui/venv/bin/python3 /home/maciek/Desktop/MyScripts/klima_gui/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
